:root {
    --yellow: #fbd647; 
    --orange: #f16550; 
    --red: #cc464c;
    --blue: #2f305f; 
    --white: #ffffff; 
    --black: #221f20; 
}
  
body {
    scroll-behavior: smooth;
    margin: auto;
}

@font-face {
    font-family: 'alscript';
    font-style: normal;
    font-weight: normal;
    src: local('alsscrp'), url('../lib/font/alsscrp.ttf') format('ttf');
}


a, a:hover{
    text-decoration: none;
}

.text-underline{
    text-decoration: underline;
} 

/* ----- Font Size -------- */
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}
 
.font-size-22{
    font-size: 22px;
}

.font-size-25{
    font-size: 25px;
}

.font-size-30{
    font-size: 45px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-45{
    font-size: 45px;
}

.font-style-italic{
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
}
  
th, td {
    font-size: 14px;
    font-weight: 500; 
}
 
/* ------ spacing --------- */

.section-pt-10{
    padding-top: 10px;
}
.section-pb-10{
    padding-bottom: 10px;
}
.section-pt-25{
    padding-top: 25px;
}
.section-pb-25{
    padding-bottom: 25px;
}
.section-pt-30{
    padding-top: 30px;
}
.section-pb-30{
    padding-bottom: 30px;
}
.section-pt-50{
    padding-top: 50px;
}
.section-pb-50{
    padding-bottom: 50px;
} 
.section-pt-60{
    padding-top: 60px;
} 
.section-pb-60{
    padding-bottom: 60px;
} 
.section-pt-80{
    padding-top: 80px;
} 
.section-pb-80{
    padding-bottom: 80px;
} 
.section-pt-100{
    padding-top: 100px;
} 
.section-pb-100{
    padding-bottom: 100px;
}


.bg-image-3{
    position: absolute;
    left: 0;
    top: 0;
}
.card-wrapper-1 {
    color: white;
    font-family: 'alscript';
    z-index: 9;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

.font-parisienne {
    font-family: "Parisienne", cursive;
}  

@media (max-width: 576px) {   
    table, img, div {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
    td.bmeImageContainer table tr {
        display: flex;
        flex-direction: column;
    }
    img.icon-image {
        width: 35px !important;
        max-width: 35px !important;
        min-width: 35px !important;
        margin-bottom: 1rem;
    }
}

@media (min-width: 1200px) {  
    .card-bg{
        max-width: 600px;
        margin: auto;
    }
}

